body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://www.youredm.com/wp-content/uploads/2015/02/coachella-sahara-rukes-youredm.jpg");
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinky-dancer{
  border:10px solid rgb(40, 168, 106);
  border-radius:10px;
  position:absolute;
}

.crazy-dancer{
  border:20px solid;
  border-color: rgb(252, 237, 66);
  border-radius:2px;
  position:absolute;
  animation: rotation 0.1s infinite linear;
}

.bouncy-dancer{
  border:10px solid rgb(24, 5, 230);
  border-radius:10px;
  position:absolute;
  animation-duration: 3s;
  animation-name: bounce-4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
    margin-left:0%;
    width:100%;
  }
}

@keyframes bounce-4 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

